/* .anticon > svg{
    width: 48px !important;
    height: 40px !important;
} */
*{
    box-sizing: border-box;

}
.ant-menu-item{
    margin-top: 15px !important;
}

@media (max-width: 768px) {
    .searchBar{
        
    }
}

/* .ant-table-row{

    display: flex;
    width: 100%;
} */
/* .custom-table> .ant-table-tbody > tr  {
    border-radius: 10px !important; 
    overflow: hidden;
    border-color: black;
  } */